site_name: Deep Groundwater
site_description: A collection of open-source blog posts and articles
site_url: https://deepgroundwater.com
repo_url: https://github.com/deepgroundwater/deepgroundwater.github.io
repo_name: deepgroundwater/DeepGroundwater.github.io

theme:
  name: material

  features:
    - navigation.instant
    - search.suggest

  icon:
    repo: fontawesome/brands/github

  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode

    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search
  - blog

nav:
  - Home: index.md
  - Blog:
     - blog/index.md
